/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
body{
    background-color: #fff;
}

.container{
    margin: 0 auto;
    width: 1300px;
}

.row{
    margin: 30px;
}

.small-text{
    font-size: 12px;
    font-family: sans-serif;
}

.title-text{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.text-red{
    color: #f00;
    font-weight: bold;
}

.product{
    display: inline-block;
}

.product-image{
    width: 350px;
    height: 500px;
}